<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="author" content="Mike Landron">
        <title>R.M.C. | Home</title>
        <link rel="stylesheet" href="../static/rmcStyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="sidebar">
            <a href="/"><img src="../static/buttons/side-home-button.png"></a>
            <a href="#"><img src="../static/buttons/side-about-button.png"></a>
            <a href="#"><img src="../static/buttons/side-help-button.png"></a>
            <a href="mailto:#"><img src="../static/buttons/side-contact-button.png"></a>
        </div>
        <div id="content">
            <header>
                <img src="../static/buttons/menu-button1.png" alt="MENU" onclick="ToggleSidebar()">
                <a href="/"><img src="../static/buttons/home-button.png" alt ="HELP"></a>
                <a href="#"><img src="../static/buttons/help-button.png" alt ="HELP"></a>
                <div class="head-nav">
                        <img src="../static/buttons/beat.png" alt="Navigation">
                </div>
            </header>
            <div class="banner" id="home-banner">
                <img src="../static/misc/home-banner.png">
            </div>
            <div class="instruction-pane">
                <p>
                    <strong><i><u>INSTRUCTIONS:</u></i></strong> 
                    Click on any of the below Mega Man home screen images to navigate to that 
                    game's robot master page.
                </p>
            </div>
            <div class="game-tile-container">
                <a href="/mm1" alt="Mega Man">
                    <img class="game-tile" src= "../static/titles/title1.png">
                </a>
                <a href="/mm2">
                    <img class="game-tile" src= "../static/titles/title2.png">
                </a>
                <a href="/mm3">
                    <img class="game-tile" src= "../static/titles/title3.png">
                </a>
                <a href="/mm4">
                    <img class="game-tile" src= "../static/titles/title4.png">
                </a>
                <a href="/mm5">
                    <img class="game-tile" src= "../static/titles/title5.png">
                </a>
                <a href="/mm6">
                    <img class="game-tile" src= "../static/titles/title6.png">
                </a>
                <a href="/mm7">
                    <img class="game-tile" src= "../static/titles/title7.png">
                </a>
                <a href="/mm8">
                    <img class="game-tile" src= "../static/titles/title8.png">
                </a>
                <a href="/mm9">
                    <img class="game-tile" src= "../static/titles/title9.png">
                </a>
                <a href="/mm10">
                    <img class="game-tile" src= "../static/titles/title10.png">
                </a>
            </div>
            <footer>
                <a href=# id="policy">Privacy &amp; Cookie Policy</a>
            </footer>
            <script src="../static/rmc.custom.js"></script>
        </div>
    </body>
</html>